@using WebApplication1.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Course>
@{
    Layout = "_Layout";
}

<div>
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">选课大厅</h2>
        </header>
        <div class="panel-body">
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-info">
                    @TempData["Message"]
                </div>
            }
            <form method="get" action="@Url.Action("ShowCourse")" class="mb-3">
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="搜索课程">
                    <div class="input-group-append"> 
                        <button type="submit" class="btn btn-primary">搜索</button>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("ShowCourse")'">返回</button>
                     </div>
      
                </div>
            </form>


            <div class="table-responsive">
                <table class="table mb-none">
                    <thead>
                        <tr>
                            <th>课程ID</th>
                            <th>课程名称</th>
                            <th>课程学分</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model)
                        {
                            <tr>
                                <td>@course.CourseId</td>
                                <td>@course.CourseName</td>
                                <td>@course.Credits</td>
                                <td class="actions">
                                    <a href="@Url.Action("StudentXK", "StudentXK", new { courseId = course.CourseId })" class="btn btn-primary">选课</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("ShowCourse", new { page }))
        </div>

    </section>
</div>
